<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MedifyCare</title>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <header class="main-header">
            <h2 class="logo">MedifyCare</h2>
                <nav class="nav main-nav">   
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </nav>
        </header>
        <section class="container">
            <p>If you require a medical consultation, need to see a doctor, or even want a doctor to come to 
            your home but find it difficult to leave, MedifyCare can assist you in finding your 
            own doct or without ever leaving your couch. Simply visit our page and get in touch with us. 
            We offer various services; just check what you need and contact us.</p>
            <h2 class="section-header">Services that offer by MedifyCare</h2>
            <p class="size-p"><img src="images/pic2.jfif" alt="Video call with doctor" class="fixed-size-image"><br> video call with a doctor</p>
            <p class="size-p"><img src="images/pic1.jfif" alt="Chat with doctor" class="fixed-size-image"><br>chat with your doctor</p> 
            <p class="size-p"><img src="images/pic31.jfif" alt="Doctor come to your home" class="fixed-size-image" ><br>ask doctor to come home</p>
            <h2 class="section-header" >Details about our doctors</h2>
            <p class="size-p"><img src="images/doc1.png"  alt="doctor image"class="fixed-size-image" ><br>Mohammednour Mohammed<br>spacilist in genarel</p>   
        </section>
</body>
</html>