<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedifyCare</title>
    <link rel="stylesheet" href="register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div class="wrapper">
        <form action="">
            <h1>Homecare service</h1>
            <h3>Patient details</h3>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="tel" placeholder="Phone number" required>
                <i class='bx bxs-phone'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Location" required>
                <i class='bx bxs-edit-location'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Doctor Name" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="calendar" placeholder="dd/mm/yyyy" required>
                <i class='bx bx-calendar-edit'></i>
            </div>
            <input type="submit" class="btn" value="Confirm">
        </form>
    </div>
</body>    
</html>
