<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with {{ patient.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_chat.css') }}">
</head>
<body>
    <header>
        <h1>Chat with {{ patient.username }}</h1>
    </header>

    <section class="chat-section">
        <div class="chat-window">
            <div id="chat-history" class="chat-history">
                <!-- Display old messages -->
                {% for message in messages %}
                    <div class="message-container">
                        <p class="message {{ 'current-user' if message.sender_id == current_user.id else 'other-person' }}">
                            <strong>{{ 'You' if message.sender_id == current_user.id else patient.username }}:</strong> {{ message.content }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="chat-input">
                <input id="message" type="text" placeholder="Respond To Query..." autocomplete="off">
                <button id="send-btn">Send</button>
            </div>
        </div>
    </section>
</body>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>
</html>
